body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    flex-wrap: wrap;
}

.background-logo {
    width: 70%;
    height: auto;
    background: url('spotifi.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.1;
}

.logo {
    z-index: 2; 
    text-align: center;
    padding: 20px;
    flex-basis: 100%;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.app-screenshot {
    width: 50%;
    text-align: right;
    padding: 20px;
    flex-basis: 100%; 
}

.app-screenshot img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: gray;
    padding: 20px;
}

.creator-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.creator-details {
    align-self: flex-start;
}

.creator-details p {
    margin: 3px 0;
}

.social-links {
    text-align: right;
}

.social-links a {
    text-decoration: none;
    color: blue;
    display: block;
    margin-bottom: 5px;
}

.artist-list {
    text-align: left;
    margin-top: 30px;
}

.artist-list h2 {
    margin-bottom: 10px;
}

.artist-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.artist-column p {
    flex-basis: 25%;
    margin: 5px 0;
}
